.spot-item {
  display: flex;
  flex-direction: column;
  width: 300px;
  border-radius: 20px;
  overflow: hidden;
}

.spot-item-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
}

.spot-item img {
  height: 300px;
  width: 100%;
  border-radius: 10px;
}

.spot-info-row1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.spot-item-link {
  text-decoration: none;
  color: black;
}

.spot-item-link h2,
.spot-info {
  margin: 10px;
  padding: 5px;
}

.fa-star {
  color: gold;
}

.rating {
  margin-left: 5px;
  font-weight: bold;
}
