.spot-item-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* margin: 20px auto; */
}

.spot-item {
  display: flex;
  flex-direction: column;
  width: 300px;
  border-radius: 20px;
  overflow: hidden;
  /* background-color: #fcfcfc; */
  /* padding: 10px; */
  /* margin: 10px; */
}

.spot-item img {
  height: 200px;
  width: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.spot-info-row1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}

.spot-item-link {
  text-decoration: none;
  color: black;
  transition: color 0.3s;
}

.spot-item-link:hover {
  color: #ffa500;
}

.spot-item h2,
.spot-info {
  margin: 10px;
}

/* Price and rating container */
.price-rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Rating style */
.rating {
  display: flex;
  align-items: center;
  margin-left: 5px;
  font-weight: bold;
  color: black; /* Adjust color to match star icon */
}

.fa-star {
  margin-right: 5px; /* Space between star icon and rating number */
  color: gold;
}

/* Hover effect for the entire card */
.spot-item-container:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}
