.spot-item {
  display: flex;
  flex-direction: column;
  width: 300px;
  border-radius: 20px;
  margin: 0 200px; /* Center the spot-item within its container */
  overflow: hidden;
}

.spot-item img {
  height: 300px;
  width: 100%;
  border-radius: 10px;
}

.spot-info-row1 {
  display: flex;
  justify-content: space-between;
  align-items: center; /* Vertically align items in the row */
}

.spot-item-link {
  text-decoration: none;
  color: black;
}

/* Add some margin and padding to the spot name and info */
.spot-item-link h2,
.spot-info {
  margin: 10px;
  padding: 5px;
}

/* Style the star icon using the "gold-star" class */
.fa-star {
  color: gold;
}

/* Style the rating text */
.rating {
  margin-left: 5px;
  font-weight: bold;
}
