/* Center the content */
.center-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: default;
}

/* Create a grid layout for the spot cards */
.manage-spots-gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

/* Create a container for the cards with a max width */
.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px; /* Adjust the gap value to add space between cards */
  max-width: 1200px; /* Set your desired max width */
  margin: 0 auto; /* Center the container */
  padding-bottom: 8%;
}

/* Style for individual spot cards */
.spot-card {
  border-radius: 10px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%; /* Adjust the width and subtract the desired space */
  margin: 10px; /* Adjust the margin to add space around each card */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

/* Create a row for buttons with consistent styles */
.button-row {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 10px;
  border: none;
}

/* Remove the border, outline, and styling for button links */
.button-link {
  border: none;
  outline: none;
  background: none;
  font-size: 20px;
  font-weight: bold;
  font-family: "Gloock", sans-serif;
  color: #000;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.2s;
}

/* Style for update and delete buttons */
.update-button,
.delete-button {
  border: none; /* Remove the border */
  background: linear-gradient(135deg, #ffd700, #ffa500);
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 130px;
  font-size: 20px;
  font-weight: normal;
  font-family: "Gloock", sans-serif;
  color: rgb(240, 239, 218);
  border-radius: 20px;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.2s;
}

/* Add a hover effect for the buttons */
.update-button:hover,
.delete-button:hover {
  background: linear-gradient(135deg, #ffd700, #ffa500);
}
