/* Center the content with minimal padding */
.center-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: default;
}

.manage-spots-gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 15px;
  max-width: 1200px;
  margin: 0 auto;
}

.spot-card {
  border-radius: 10px;
  padding: 15px;
  background-color: gray;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

#manage-booking-title {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 10px;
}


.button-row {
  display: flex;
  justify-content: center;
  gap: 20px;
  border: none;
}

.button-link {
  border: none;
  outline: none;
  background: none;
  font-size: 20px;
  font-weight: bold;
  font-family: "Gloock", sans-serif;
  color: #ffffff;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.2s;
}

.update-button,
.delete-button {
  border: none;
  background: linear-gradient(135deg, #ffd700, #ffa500);
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 130px;
  font-size: 20px;
  font-weight: normal;
  font-family: "Gloock", sans-serif;
  color: rgb(240, 239, 218);
  border-radius: 20px;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.2s;
}

.update-button:hover,
.delete-button:hover {
  background: linear-gradient(135deg, #ffd700, #ffa500);
}
