/* Center the content */
#update-booking-title {
  display: block;
  margin-bottom: 10px;
  padding: 20px;
  color: #333;
  font-family: "Gloock", sans-serif;
  font-size: 24px;
  text-align: center;
}

#manage-booking-title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  margin: 0;
}

/* Update the form container styles */
#update-booking-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #333;
}

/* Update input field styles */
#update-booking-form input {
  font-size: 16px;
  width: 80%; /* More responsive width */
  border: 1px solid #d1d5db;
  margin: 10px 0;
  border-radius: 8px;
  padding: 10px;
  font-family: "Gloock", sans-serif;
}

/* Create a responsive grid layout for the booking cards */
#manage-booking-div {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(250px, 1fr)
  ); /* Responsive grid */
  gap: 20px;
  padding: 20px;
  padding-bottom: 8%;
}

/* Update the active button styles */
#update-booking-button-active {
  width: 150px;
  height: 40px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
  background: linear-gradient(135deg, #ffd700, #ffa500);
  border-radius: 25px;
  cursor: pointer;
  margin: 10px 0;
  font-family: "Gloock", sans-serif;
  font-size: 14px;
  padding: 5px 15px;
}

.booking-card {
  border-radius: 12px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 15px;
  text-align: center;
  list-style-type: none;
}

.booking-image {
  width: 100%;
  height: 200px; /* Slightly larger for better visibility */
  border-radius: 10px;
  object-fit: cover; /* Ensure images cover the area well */
}

/* Style for booking card spot names */
.spot-name {
  font-size: 24px;
  font-weight: 600; /* Slightly less bold for modern look */
  color: #333;
}

/* Style for booking information */
.info-div {
  padding: 15px 0;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  color: #444;
  gap: 10px; /* Increase gap for better separation */
  text-align: center;
}

/* Create a row for buttons with consistent styles */
.button-row {
  padding: 20px 0;
  display: flex;
  justify-content: center;
  gap: 20px;
}

/* Style for update and delete buttons */
.update-button,
.delete-button {
  border: none;
  background: linear-gradient(135deg, #ffd700, #ffa500);
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 150px; /* Larger for better readability */
  font-size: 16px;
  font-weight: bold;
  color: #fff; /* White text for better contrast */
  border-radius: 25px;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.2s;
}

/* Add a hover effect for the buttons */
.update-button:hover,
.delete-button:hover {
  background: linear-gradient(135deg, #ffd700, #ffa500);
}
