/* Spots.css */
.single-spot-wrapper {
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  max-width: 1200px;
}

.spot-header {
  margin-bottom: 20px;
  cursor: default;
}

.spot-header h1 {
  font-size: 2rem;
  font-weight: bold;
  color: black;
  margin-bottom: 5px;
}

.location {
  font-size: 1.2rem;
  color: black;
}

.gallery {
  display: flex;
  flex-direction: row;
  height: 500px;
  max-height: 500px;
  border-radius: 35px;
  margin-bottom: 15px;
}

.gallery-image-wrapper {
  display: flex;
  object-fit: contain;
  flex-wrap: wrap;
  margin-top: 15px;
}

.gallery-image {
  display: flex;
  max-width: 500px;
  max-height: 400px;
  object-fit: contain;
  margin-top: 50px;
  border-radius: 20px;
  margin-bottom: 45px;
  border-radius: 35px;
}

.main-img {
  display: flex;
  width: 50%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
  margin: 10px;
  cursor: zoom-in;
  transition: transform 0.3s ease-in-out;
}

.main-img:hover {
  transform: scale(1.1);
}

.single-spot-info-box {
  border-bottom: 2px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  cursor: default;
}

.name-desc-box {
  width: 100%;
  max-width: 600px;
  background-color: #f0f0f0;
  margin: 15px;
  word-break: break-word;
  padding: 20px;
  border-radius: 10px;
}

.host-name {
  background: -webkit-linear-gradient(90deg, gold, rgb(121, 113, 68));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline;
}

.name-desc-box h2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
}

.desc {
  font-size: 1rem;
  color: #555;
  margin-bottom: 15px;
}

.callout-wrapper {
  margin-top: 10px;
  border: 2px solid black;
  max-width: 500px;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  max-height: 200px;
  padding: 10px;
  margin-bottom: 10px;
}

.callout-wrapper button {
  width: 50%;
  height: 35px;
  margin-bottom: 5%;
  background: linear-gradient(90deg, gold, rgb(121, 113, 68));
  color: white;
  border: none;
  cursor: pointer;
  border: 2px solid black;
  box-shadow: 2px 2px 2px grey;
  font-size: 1rem;
  transition: background-color 0.2s;
}

.callout-wrapper button:hover {
  background-color: goldenrod;
}

.callout-row1 {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.price {
  width: 50%;
}

.rating-review {
  display: flex;
  align-items: center;
  font-size: 1rem;
}

.rating-review i {
  color: gold;
  margin-right: 5px;
}

.review-section {
  margin-top: 20px;
}

.review-summary {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  cursor: default;
}

.review-summary h3,
.rating-review h3 {
  font-size: 1.2rem;
  margin: 5px 0;
}

.review-section {
  padding: 20px;
}

.review-summary,
.rating-review {
  text-align: center;
}
.open-modal-button {
  width: 50%;
  height: 35px;
  margin-bottom: 5%;
  background: linear-gradient(90deg, gold, rgb(121, 113, 68));
  color: white;
  border: none;
  cursor: pointer;
  border: 2px solid black;
  box-shadow: 2px 2px 2px grey;
  font-size: 1rem;
  transition: background-color 0.2s;
}

.open-modal-button:hover {
  background-color: goldenrod;
}

hr {
  width: 100%;
  height: 1px;
  background: black;
  margin: 20px 0;
}

.custom-carousel {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.custom-carousel .carousel .slider-wrapper {
  border-radius: 20px;
  overflow: hidden;
}

.custom-carousel .carousel .slider {
  border-radius: 20px;
}

.custom-carousel .carousel .slide {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f8f8f8;
  border-radius: 20px;
}

.custom-carousel .carousel .thumbs-wrapper {
  display: none; // Hide thumbnail navigation
}

.custom-carousel .carousel .dot {
  width: 8px;
  height: 8px;
  margin: 0 5px;
  background-color: #333;
  border-radius: 50%;
  transition: background-color 0.3s ease-in-out;
}

.custom-carousel .carousel .selected {
  background-color: goldenrod;
}

.date-picker-container {
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
}

.react-datepicker-wrapper {
  width: 40%;
}

.react-datepicker__input-container input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 1rem;
  cursor: pointer;
}

.react-datepicker__input-container input:focus {
  outline: none;
  border-color: #007bff;
}

.react-datepicker-popper .react-datepicker__navigation--previous {
  height: 30px;
  width: 30px;
}

.react-datepicker-popper .react-datepicker__navigation--next {
  height: 30px;
  width: 30px;
}
