.review-modal {
  display: flex;
  align-content: center;
  flex-direction: column;
  width: 400px;
  height: 350px;
}

.review-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 10%;
  margin-right: 10%;
  color: #888;
}

.review-form h2 {
  margin-bottom: 20px;
  margin-left: 50px;
}

.review-modal textarea {
  height: 150px;
  margin-bottom: 5%;
  padding: 8px;
}

.review-modal .star-rating {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5%;
  cursor: pointer;
}

.review-modal .star-rating .filled {
  color: goldenrod;
}

.review-modal .star-rating .empty {
  color: lightgrey;
}

.review-modal button {
  padding: 4px;
  margin: 4px;
  background: linear-gradient(90deg, gold, rgb(127, 111, 16));
  color: white;
  border: none;
  cursor: pointer;
  border: 2px solid black;
  box-shadow: 2px 2px 2px grey;
}

.review-modal button:hover {
  background-color: goldenrod;
}

.review-modal button:disabled {
  cursor: not-allowed;
}
