/* AllSpots.css */
body {
  margin: 0;
  padding: 0;
}

.page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.all-spots {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  max-width: 1200px;
  padding: 20px;
  width: 100%;
}

.social-media-links {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.social-media-links a {
  margin: 0 10px;
}

.social-media-links svg,
.social-media-links img {
  width: 30px;
  height: 30px;
  margin: 0 10px;
  color: #555;
}
