.hidden {
  display: none;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid goldenrod;
  padding: 10px;
  border-width: 120%;
}

.nav-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px; /* Adjust the width as needed */
  height: 40px; /* Adjust the height as needed */
  border-radius: 5px; /* Optional: Add border-radius for rounded corners */
  background: linear-gradient(90deg, gold, rgb(127, 111, 16));
}

.left-nav {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.home-logo {
  display: flex;
  align-items: center;
}

.home-logo img {
  width: 100px;
  height: 100px;
  margin-right: 10px;
  border-radius: 50%;
}

.home-title {
  background: linear-gradient(90deg, black, gold);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2rem;
}

.right-nav {
  display: flex;
  gap: 15px;
  margin-right: 10%;
  align-items: flex-end;
}

.create-spot {
  background: linear-gradient(90deg, gold, rgb(127, 111, 16));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.2rem;
  /* margin-right: 100px; */
}

.profile-menu-wrapper {
  right: 2px;
  font-size: larger;
  position: absolute;
  background-color: white;
  margin-right: 5%;
  border-radius: 1px solid;
  /* border-radius: 10px; */
}

.profile-dropdown {
  position: absolute;
  font-size: 0.9em;
  /* display: flex; */

  margin-top: 4px;
  padding: 10%;
  height: 140px;
  left: -95%;
  width: 150px;
  border-radius: 10px;
  border: solid 1px goldenrod;
  background-color: rgb(255, 246, 208);
  /* flex-direction: column; */
  /* align-items: center; */
  /* justify-content: space-around; */
}

.menu-wrap {
  display: flex;
  margin: 2px;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.profile-menu {
  border-radius: 10px;
  width: 80px;
  height: 40px;
  font-size: larger;
}

.profile-menu-wrapper button {
  padding: 4px;
  margin: 4px;
  background: linear-gradient(90deg, gold, black);
  color: white;
  border: none;
  cursor: pointer;
  border: 2px solid black;
  box-shadow: 2px 2px 2px grey;
  align-items: center;
}

.profile-menu-wrapper button:hover {
  background-color: goldenrod;
}

.login-button {
  
}

.signup-button {

}
